body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #282e30;
}

header {
  text-align: center;
}

h1,
h2,
h4,
h6 {
  color: #dbdbdb;
}

.MapNav {
  background-color: #282e30;
  border-radius: 20px;
  width: 150px;
  margin-left: 5px;
}

.legend {
  position: absolute;
  top: 50%;
  margin-left: 200px;
  transform: translate(-50%, -50%);
  background-color: grey;
  width: 200px;
  border-radius: 20px;
  text-align: center;
}

.buttons {
  background-color: #282e30;
  width: 100px;
  height: 30px;
  border-radius: 20px;
  text-align: center;
  margin-left: 50px;
}

a {
  text-decoration: none;
  color: inherit;
}

.curMap {
  color: #706060;
}

.Larrow,
.Rarrow {
  background-color: gray;
  width: 40px;
  height: 30px;
  border-radius: 20px;
}

.Larrow {
  margin-left: 400px;
}

.Rarrow {
  margin-right: 400px;
}

.lfgImgs {
  max-width: 50%;
  text-align: center;
  height: auto;
  display: block;
  margin: 0 auto;
}

.lfg-container {
  top: 50%;
  transform: translate(0, 25%);
  display: flex;
  align-items: center;
  justify-content: center;
}
