body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #282e30;
}

h1 {
  text-align: center;
}

h1,
h2,
h4 {
  color: #dbdbdb;
}

.MapNav {
  background-color: #282e30;
  border-radius: 20px;
  width: 150px;
  margin-left: 5px;
}

.legend {
  position: absolute;
  top: 50%;
  margin-left: 200px;
  transform: translate(-50%, -50%);
  background-color: grey;
  width: 200px;
  border-radius: 20px;
  text-align: center;
}

.buttons {
  background-color: #282e30;
  width: 100px;
  height: 30px;
  border-radius: 20px;
  text-align: center;
  margin-left: 50px;
}

a {
  text-decoration: none;
  color: inherit;
}

.curMap {
  color: #706060;
}
